@import '../../static/styles/index.scss';

.card{
    display: flex;
    padding: 15px;
    align-items: center;
    max-width: 190px;
    margin: auto;
    margin-bottom: 20px;
    height: 300px;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../../static/assets/bg.jpg);
    background-blend-mode: overlay;
    color: white;
    background-size: 130%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -1px -1px 10px rgba(0, 0, 0, 0.3);
    h2{
        margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    h3{
        font-size: 30px;
        font-weight: 900;
    }
    p{
        font-size: 20px;
        margin-top: -20px;
        font-weight: 500;
    }
}